@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
  font-size: 35px;
  min-height: 50vh;
  gap: 16px;
  margin: 0;
  font-family: 'Google Sans', sans-serif;
}

h1 {
    font-size: 60px;
    font-family: 'Google Sans', sans-serif;
    letter-spacing: -8px;
}

content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 16px;
  margin-top: 100px;
}

.blue{color: #4285f4;}
.red{color:	#ea4335;}
.yellow{color:#fbbc05;}
.green{color:#34a853;}