@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

body {
  color: #d5ddee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  gap: 16px;
  margin: 0;
  background: #232d3d;
  background: linear-gradient(0deg, rgba(35, 45, 61, 1) 0%, rgba(48, 62, 87, 1) 52%, rgba(51, 66, 92, 1) 100%);
  font-family: 'Montserrat', sans-serif;
}

.button {
  position: relative;
  background:#5c7099;
  color:#e7eaf0;
  text-decoration-color: #e7eaf0;
  padding:10px 20px;
  border:none;
  opacity: 65%;
  border-radius:17px;
  display:flex;
  align-items:center;
  box-shadow: 0 0 10px rgba(rgb(hsla(220, 25%, 48%, 0.313)));
  height:30px;
  margin:0;
  cursor: pointer;
}

.gpio-button {
  position: relative;
  background:#5c7099;
  color:#e7eaf0;
  text-decoration-color: #e7eaf0;
  padding:10px 20px;
  border:none;
  opacity: 100%;
  border-radius:15px;
  display:flex;
  align-items:center;
  box-shadow: 0 0 10px rgba(rgb(hsla(220, 25%, 48%, 0.313)));
  height:30px;
  margin:0;
  cursor: pointer;
  width: 75px;
  justify-content: center;
}

.gpio-button {
  transition: ease-in-out 0.2s;

}

p1 { 
    margin: 10px;
    color: #a9b1c2;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    filter: brightness(0) invert(1);
    opacity: 0.02;
    z-index: -1;
    scale: 1.3;
    pointer-events: none;
}

.bg-image {
    background: url('media/paws.png') center center no-repeat;
}

.bg-image.alt {
    background-image: url('media/bones.png');
}

.pad1 { 
    padding-top: 20px;
    padding-bottom: 140px;
}

.ranks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.ranks ol {
  padding-left: 40px;
  margin: 0 auto;
}

.ranking-form {
    text-align: center;
}

.form-fields {
    display: inline-block;
    text-align: left;
}

input[type="range"] {
  accent-color: #8894af;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 40px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid #cdd2dc;
  margin: 0 12px;
}

.divider h2 {
  margin: 0;
  padding: 0 16px;
  color: #cdd2dc;
  font-size: 25px;
  font-weight: bold;
}

.divider-tight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}

.divider-tight::before,
.divider-tight::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid #cdd2dc
}

.user-agent {
  text-align: center;
  bottom: 30px;
  left: 30px;
  right: 30px;
  padding: 10px 20px;
  opacity: 0.3;
  line-height: 1;
}

#img1 { filter: drop-shadow(0px 0px 12px rgba(30, 30, 32, 0.6)); }
#img2 { filter: drop-shadow(0px 0px 12px rgb(30, 30, 32, 0.6)); }
#img3 { filter: drop-shadow(0px 0px 12px rgb(30, 30, 32, 0.6)); }

#img1, #img2, #img3 {
  filter: saturate(0.65);
}

td, th {
    text-align: left;
    padding: 8px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    padding-top: 160px;
    padding-bottom: 35px;
    text-align: center;
}

.summer-collection {
  width: calc(100% - 350px);
  margin: 0 175px;
  position: relative;
  top: 50px;
}

.rating { 
  text-align: center; 
  padding-top: 50px;
  padding-bottom: 60px;
}

.link-to-other {
  margin: 150px auto 0 auto;
  border-radius: 25px;
  background: #39475c;
  padding: 30px;
  width: 450px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  text-align: left;
}

h1 { 
    padding-top: 40px;
    font-size: 35px;
    margin: 10px;
    color: #dce0e8;
    font-weight: 700;
}

h2 { 
    font-size: 22px;
    margin: 10px;
    color: #cdd2dc;
}

h3 {
  font-size: 28px;
  color: #132139;
  opacity: 45%;
}

p2 { 
    font-size: 18px;
    margin: 10px;
    color: #b5bccc;
}

p3 { 
    font-size: 15px;
    margin: 10px;
    color: #a9b1c2;
}

p4 { 
    font-size: 17px;
    margin: 15px;
    color: #39475c;
    font-weight: 400;
}

a { color: #bfc5d1; }

a.alt {
  color: #39475c; 
  text-decoration: none;
}

.header {
    background-color: rgba(237, 240, 248, 0.608);
    height: 89px;
    border-radius: 25px;
    padding: 0 20px;
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
}

.links, 
.button {
    position: relative;
    z-index: 2;
}

#bg {
  transition: background-image 1s ease-in-out, background 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.center img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.center th, .center td {
  width: 33%;
  padding: 10px;
}

.rank-layout td {
  text-align: center;
  vertical-align: top;
}

.rank-layout {
  width: calc(100% - 60px);
  margin: 0 30px;
  border-collapse: separate;
  border-spacing: 40px;
  padding-bottom: 200px;
}

.gpio-buttons {
  border-collapse: separate;
  border-spacing: 15px;
  margin: 0 auto;
}

.gpio-buttons tr {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.gpio-buttons td {
  text-align: center;
  vertical-align: middle;
}

.sensor-values {
  border-collapse: separate;
  border-spacing: 5px;
  margin: 0 auto;
}

.sensor-values tr {
  justify-content: left;
  gap: 5px;
  line-height: 0.4;
}

.sensor-values td {
  text-align: left;
  vertical-align: middle;
  padding: 0px 6px;
  line-height: 0.4;
}

html {
  filter: saturate(1.65);
}

li {
  font-size: 18px;
  line-height: 1.8;
}

.form-info {
  width: calc(100% - 350px);
  margin: 200px auto 0 auto;
  position: relative;
  top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-info h2,
.form-info p {
  width: 100%;
  max-width: 600px;
}

.debug {
  text-align: center;
  font-size: 14px;
  color: #a9b1c2;
  padding-top: 200px;
  width: 100%;
  max-width: 600px;
  line-height: 2;
}

.gpio-control {
  margin-bottom: 100px;
  padding-bottom: 55px;
}