body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  gap:16px;
  margin:0;
  background: #232d3d;
  background: linear-gradient(0deg, rgba(35, 45, 61, 1) 0%, rgba(48, 62, 87, 1) 52%, rgba(51, 66, 92, 1) 100%);
  font-family:Arial, sans-serif;
}

.button{
  position: relative;
  background:#4c5e81;
  color:#fff;
  padding:10px 40px;
  border:none;
  border-radius:15px;
  display:flex;
  align-items:center;
  height:40px;
  box-shadow:0 0 15px #29293b;
  margin:0;
  cursor: pointer;
}

p1{ 
    margin: 20px;
    color: #a9b1c2;
}


